$goodGreekBlue: rgb(20, 63, 144);
$goodGreekGray: #f8f8f8;
$goodGreekFont: "Raleway", sans-serif;
$todoColor: rgb(8, 25, 57);
* {
  font-family: $goodGreekFont;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todos {
  display: flex;
  justify-content: center;
}

p {
  margin-right: 10px;
}
h1 {
  text-align: center;
  margin: 10px;
  font-family: $goodGreekFont;
}
.item {
  margin: 10px;
}
ul {
  h2 {
    color: $todoColor;
    font-size: 36px;
  }
}

.background {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  .centered {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    align-items: center;
    top: 20%;
    left: 20%;
    background-color: white;
    border-radius: 20px;
    .todoList {
      background-color: rgb(20, 63, 144, 0.1);
      h1{
        font-size: 48px;
        color: $goodGreekBlue;
        border-bottom: 1px solid rgb(20, 63, 144, 0.1);
      }
    }
    .formContainer {
      padding-top: 8%;
      width: 80%;
    }
    button {
      border-radius: 5px;
      background-color: lightgray;
      border: none;
    }
    .form {
      text-align: center;
      h1 {
        font-size: 60px;
        color: $goodGreekBlue;
        border-bottom: 1px solid #143f90;
      }
    }
    .header {
      width: 100%;
      background-color: #143f90;
      height: 128px;
      display: flex;
      justify-content: center;
      border-radius: 20px 20px 0 0;
      position: relative;
      img {
        position: absolute;
        transform: translateY(53px);
      }
    }
  }
}
