/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// End css reset

$goodGreekBlue: rgb(20, 63, 144);
$goodGreekFont: "Roboto", sans-serif;
$goodGreekGray: #f8f8f8;
$todoColor: rgb(8, 25, 57);

// End variables

* {
  font-family: $goodGreekFont;
}

.background {
  background-color: #f8f8f8;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  .centered {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
    min-height: 80vh;
    width: 80vw;
    h1 {
      font-family: $goodGreekFont;
      margin: 10px;
      text-align: center;
    }

    .todoList {
      background-color: rgba(20, 63, 144, 0.1);
      border-radius: 20px;
      .arrows {
        color: $goodGreekBlue;
        margin-right: 3%;
      }
      .delete {
        color: red;
      }
      h1 {
        border-bottom: 1px solid rgb(20, 63, 144);
        color: $goodGreekBlue;
        font-size: 48px;
        margin: 0 3% 2% 3%;
        padding: 4% 0 2% 0;
      }
      .todos {
        align-items: center;
        display: flex;
        font-size: 36px;
        justify-content: center;
        margin-bottom: 2%;
        .item {
          border-radius: 50%;
          font-family: $goodGreekFont;
          font-size: 36px;
          margin: 10px;
          margin-right: 6%;
        }
      }
    }

    .formContainer {
      flex: 1;
      margin-bottom: 5%;
      width: 80%;
      form {
        display: flex;
        justify-content: space-between;
        padding: 5% 0;
        width: 100%;
        input {
          background-color: $goodGreekGray;
          border: 1px solid #cccccc;
          border-radius: 12px;
          font-family: $goodGreekFont;
          font-size: 36px;
          height: 7vh;
          padding-right: 5%;
          padding: 0 10px;
          width: 70%;
        }
        button {
          background-color: $goodGreekBlue;
          border-radius: 12px;
          color: white;
          font-size: 16px;
          width: 20%;
        }
      }
    }

    button {
      background-color: lightgray;
      border: none;
      border-radius: 5px;
    }

    .form {
      text-align: center;
      h1 {
        border-bottom: 1px solid #143f90;
        font-size: 60px;
        color: $goodGreekBlue;
        margin: 0;
      }
    }

    header {
      width: 100%;
    }

    .logoContainer {
      background: linear-gradient(180deg, #143f90 50%, #fff 50%);
      border-radius: 20px 20px 0 0;
      display: flex;
      height: 240px;
      justify-content: center;
      position: relative;
      @media screen and (max-width: 600px) {
        height: 120px;
        padding-bottom: 5%;
      }
      img {
        position: absolute;
        top: 45px;
        @media screen and (max-width: 600px) {
          top: 19%;
          width: 50vw;
        }
        @media screen and (max-width: 400px) {
          top: 31%;
          width: 50vw;
        }
      }
    }
  }

  .copyRight {
    color: #081939;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    @media screen and (max-width: 600px) {
      width: 40vw;
    }
  }
}
